.fx {
  .slick-arrow {
    &:before {
      transition: transform $anim-time--std ease-in-out;
    }
    &.slick-next {
      &:hover {
        &:before {
          transform: translateX($arrowHoverX) rotate(180deg);
        }
      }
    }
    &.slick-prev {
      &:hover {
        &:before {
          transform: translateX(-$arrowHoverX);
        }
      }
    }
  }
  .view_all {
    transition: opacity $anim-time--std linear;
    &:hover {
      opacity: 0.8;
    }
  }
  .star {
    opacity: 0;
    transition: opacity 2000ms linear;
  }

  &.initialized .star {
    opacity: 1;
  }
}
