//COLORS
$color-black: #000;
$color-white: #fff;
$color-yellow--primary: #f2d43a;
$color-body: $color-black;
$color-viewall-bg: $color-black;
$color-viewall-text: $color-white;

//TYPOGRAPHY
$ff-body: Times New Roman, serif;
$fw-bold: bold;
$fw-normal: normal;
$fs-message: 72px;
$fs-attribution: 56px;
$fs-section-title: 21px;
$fs-viewall: 18px;
$min_font: 20px;
$max_font: $fs-message;

//BREAKPOINTS
$bp-small: 0;
$bp-medium: 576px;
$bp-large: 1100px;

//LAYOUT
$design-width: 1500px;
$carousel-slide-height: 70vh;
$min_width: 320px;
$max_width: $design-width;

//SLICK OVERRIDES
$slick-font-family: inherit;
$slick-arrow-color: black;
$slick-arrow-top: 27%;
$slick-arrow-width: 4vw; //forms container for arrow background image
$slick-arrow-height: #{$slick-arrow-width * (24/56)}; //original design aspect ratio
$slick-arrow-min-width: 24px;
$slick-arrow-min-height: #{$slick-arrow-min-width * (24/56)};
$slick-arrow-padding: 4vw; //horizontal space between arrow and slide
$slick-dot-size: 46px;
$slick-dot-spacing: 12px; //margin on either side of each dot
$slick-dots-vspace: 4vw; //vertical space from slide
