@import '../../styles/app.scss';
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10vh;
  &:first-child {
    margin-top: 0;
  }
  @include large {
    margin-top: 30vh;
  }
}
.container_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $max_width;
  margin: 0 auto;
  width: 100%;
  padding: 5vh;
  @include large {
    padding: 10vh;
  }
}
.section_title {
  text-transform: uppercase;
  @include fluid-type($min_width, $max_width, 12px, $fs-section-title);
}
.slider {
  width: percentage(1160/1500);
  max-width: #{$max_width * (1160px/1500px)};
}
.slide {
  text-align: center;
  overflow: hidden;
}
.message {
  @include fluid-type($min_width, $max_width, $fs-message-min, $fs-message);
  font-weight: $fw-normal;
  line-height: 1.111em;
  margin-bottom: $vspace-std;
  &:after {
    content: '\2014';
    display: block;
    @include fluid-type($min_width, $max_width, $fs-message-min, $fs-message);
    margin-top: 0;
    color: $color-body;
  }
}
.attribution {
  @include fluid-type(
    $min_width,
    $max_width,
    $fs-attribution-min,
    $fs-attribution
  );
  font-weight: $fw-normal;
  line-height: 1.14em;
  margin-bottom: $vspace-std;
  margin-top: $vspace-std;
}

.view_all {
  background-color: $color-viewall-bg;
  color: $color-viewall-text;
  border: 0;
  font-family: $ff-body;
  @include fluid-type($min_width, $max_width, 12px, $fs-viewall);
  padding: 8px 20px;
  margin-top: $vspace-std;
  @include medium {
    padding: 16px 40px;
  }
}

.star {
  height: 80%;
  max-height: 860px;
  width: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  &--left {
    transform: translateY(-50%) scale(-1, 1);
    right: auto;
    left: 0;
  }
}

.dots {
  li button:before {
    //@include fluid-type($min_width, $max_width, 16px, $slick-dot-size);
    font-size: 36px;
    @include large {
      font-size: 46px;
    }
  }
}
